html,
body {

}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--graphite);
  padding-top: 28px;
  padding-bottom: 28px;
}

.header .nav {
  display: flex;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 500;
  color: var(--white);
  text-align: center;
  border-right: 1px var(--separator) solid;
}

.nav__item:hover {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px var(--white) solid;
}

.work {
  background-color: var(--gray);
}