html,
body {

}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--graphite);
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}

.header .nav {
  display: flex;
}

.nav {
  margin-left: 9.1875em;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  border-right: 1px var(--separator) solid;
  padding: 0 1.375em 0 1.375em;
}

.nav__item:last-child {
  border-right: none;
}

.nav__link {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

.nav__link:hover {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px var(--white) solid;
  padding-bottom: 0.4375em;
}

.work {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.work__title {
  position: absolute;
  left: 50%;
  top: 5.555em;
  transform: translate(-50%, -50%);
}

.work__img {
  margin-top: 1em;
}

.work__text {
  margin-top: 0.4em;
  text-align: center;
}

.work__link {
  display: flex;
  justify-content: center;
}

.work__button {
  margin-top: 2.45em;
  margin-bottom: 4em;
  height: 1.45em;
  width: 2.85em;
}

.wireless {
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wireless__icon {
  padding-top: 4em;
  padding-bottom: 1.75em;
  width: 1.075em;
}

.wireless__text {
  width: 38.05em;
  padding-top: 1.75em;
  padding-bottom: 0.7em;
}

.wireless__info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--dark-gray);
  font-weight: 900;
  margin-bottom: -11.65em;
  margin-left: 3.6em;
}

.wireless__info_big {
  font-size: 15em;
  line-height: 351.56px;
}

.wireless__info_small {
  font-size: 4.8em;
}

.wireless__img {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.4em;
}

.wireless__img_right {
  margin-right: 2.25em;
}

.surface {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding-top: 5em;
  padding-bottom: 5em;
}

.surface__text_top {
  margin-top: 1.75em;
  width: 38.25em;
}

.surface__advantages {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.surface__item {
  border: 1px var(--graphite) solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11.824em;
  height: 7em;
  line-height: 1.15em;
}

.surface__item_left {
  margin-right: 1.575em;
}

.surface__text_bottom {
  margin-top: 1.75em;
}

.devices {
  padding-top: 5em;
  padding-bottom: 43.5em;
  background-image: url(../../public/img/devices_desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devices__text {
  margin-top: 1.75em;
  margin-bottom: 3.45em;
  width: 47.9em;
}

.devices__list {
  display: flex;
  justify-content: center;
  width: 47.9em;
  text-align: left;
}

.devices__item {
  border-left: 1px var(--separator) solid;
  border-right: 1px var(--separator) solid;
  height: 3em;
  padding-left: 3.65em;
  padding-right: 1.4em;
  margin-left: 0.6em;
  margin-right: 2.9em;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-gray);
  padding-top: 5em;
  padding-bottom: 5em;
}

.settings__text {
  width: 48em;
  margin-top: 1.9em;
  margin-bottom: 3.6em;
}

.settings__apps {
  background-color: var(--dark-gray);
  color: var(--white);
  padding-top: 1.9em;
  padding-bottom: 1.45em;
  width: 37.45em;
}

.settings__icons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1.75em;
  padding: 0 6em 1.25em 6em;
}

.settings__info {
  padding-left: 3.15em;
  padding-right: 3.15em;
}

.comfort {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding-top: 5em;
  padding-right: 10.85em;
}

.comfort__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20em;
  margin-left: 1.85em;

}

.speed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding-bottom: 5em;
  padding-left: 11.2em;
}

.speed__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20em;
  margin-right: 1.85em;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--graphite);
  color: var(--footer-gray);
  font-size: 0.7em;
  padding-top: 2.35em;
  padding-bottom: 3.55em;
}