html,
body {

}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--graphite);
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}

.header .nav {
  display: flex;
}

.nav {
  margin-left: 9.1875em;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  border-right: 1px var(--separator) solid;
  padding: 0 1.375em 0 1.375em;
}

.nav__item:last-child {
  border-right: none;
}

.nav__link {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

.nav__link:hover {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px var(--white) solid;
  padding-bottom: 0.4375em;
}

.work {
  background-color: var(--gray);
  display: grid;
  justify-content: center;
}

.work__title {
  position: absolute;
  left: 50%;
  top: 5em;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.work__img {
  margin-top: 1em;
}

.work__text {
  margin-top: 0.4em;
  text-align: center;
}

.work__link {
  display: flex;
  justify-content: center;
}

.work__button {
  margin-top: 2.45em;
  margin-bottom: 4em;
  height: 1.45em;
  width: 2.85em;
}