@media (max-width: 720px) {
  .header__main {
    padding-top: 1.785em;
  }

  .header__navs {
    padding: 1.25em 1.35em 10.4em 1.35em; 
  }

  .logo {
    width: 9.28em;
    height: 2.78em;
  }

  .nav__open {
    top: 1.785em;
    right: 28.5px;
  }

  .nav__open_img {
    width: 2.14em;
    height: 1.12em;
  }

  .nav__close {
    top: 1.25em;
    right: 1em;
  }

  .nav__close_img {
    width: 20px;
    height: 20px;
  }

  .nav__list_mobile {
    margin-top: 7.4em;
  }

  .nav__link_mobile {
    font-size: 1.43em;
    padding-bottom: 1.6em;
  }
  
  .nav__link_mobile:hover {
    border-bottom: 2px var(--white) solid;
    padding-bottom: 0.3em;
  }

  .work {
    padding-top: 6.71em;
    padding-bottom: 3.42em;
  }

  .work__title {
    top: 7.9em;
  }

  .work__text {
    width: 68%;
    margin-top: 4.78em;
    margin-bottom: 2.85em;
  }

  .work__button {
    width: 2.78em;
    height: 1.42em;
  }

  .wireless {
    padding-top: 3em;
    padding-bottom: 1.28em;
  }

  .wireless__icon {
    margin-bottom: 1.93em;
    width: 1.28em;
  }

  .wireless__text {
    width: 82%;
    margin-top: 1.43em;
    margin-bottom: 2.21em;
  }

  .wireless__info {
    line-height: 5em;
    margin-bottom: 0;
    margin-left: 0;
  }

  .wireless__info_big {
    font-size: 4.28em;
    padding-right: 0.25em;
  }

  .wireless__info_small {
    font-size: 4.28em;
    padding-top: 0;
  }

  .wireless__img_right {
    width: 26.78em;
    height: 15.57em;
    margin-left: 0;
  }

  .surface {
    padding-top: 5em;
    padding-bottom: 4.5em;
  }

  .surface__text_top {
    width: 82%;
  }

  .surface__advantages {
    margin-top: 2.14em;
    margin-bottom: 2.14em;
  }

  .surface__item {
    width: 11.85em;
    height: 6.71em;
    line-height: 1.14em;
  }

  .surface__item_left {
    margin-right: 0.428em;
  }

  .surface__text_bottom {
    margin-top: 1.39em;
    width: 82%;
  }

  .devices {
    padding: 5em 2.357em 15.64em 2.357em;
    display: block;
  }

  .devices__text {
    width: 100%;
    margin-bottom: 2.57em;
  }

  .devices__list {
    font-size: 1em;
    width: 16em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1.42em;
  }

  .devices__item:nth-child(2) {
    border: none;
    padding: 0;
    margin: 1.14em 0 1.14em 0;
  }

  .settings {
    padding-top: 5em;
    padding-bottom: 0;
  }

  .settings__text {
    width: 82%;
    margin-top: 1.43em;
    margin-bottom: 2.5em;
  }

  .settings__carousel {
    display: block;
  }

  .settings__apps {
    font-size: 1em;
    width: 100%;
    padding-top: 1.64em;
    padding-bottom: 1.85em;
  }

  .settings__icons {
    grid-gap: 1.57em;
    padding-left: 2.07em;
    padding-right: 1.57em;
  }

  .settings__icons>svg {
    height: 1.58em;
    width: auto;
  }

  .comfort {
    padding: 5em 0 0 0;
  }
  
  .comfort__info {
    width: 82%;
  }
  
  #comfort__text {
    margin-top: 1.43em;
    margin-bottom:1.43em;
  }

  .speed {
    padding: 5em 0 0 0;
  }
  
  .speed__info {
    width: 82%;
  }
  
  #speed__text {
    margin-top: 1.43em;
    margin-bottom:1.43em;
  }

  .footer {
    font-size: 0.5em;
    padding-top: 3.14em;
    padding-bottom: 5.28em;
  }
}