@media (max-width: 894px) {
  .header {
    display: none;
  }

  .work {
    padding-top: 6.66em;
    padding-bottom: 3.33em;
  }

  .work__title {
    top: 7.15em;
  }

  .work__text {
    width: 24.375em;
    margin-top: 5.166em;
    margin-bottom: 3.166em;
  }

  .work__button {
    height: 1.208em;
    width: 2.375em;
  }

  .wireless {
    padding-top: 3.33em;
    padding-bottom: 0;
  }

  .wireless__icon {
    margin-bottom: 1.66em;
    width: 0.89em;
  }

  .wireless__text {
    width: 30.83em;
    margin-top: 1.25em;
    margin-bottom: 3.16em;
  }

  .wireless__info {
    line-height: 7.33em;
    margin-bottom: -3.208em;
    margin-left: 0;
  }

  .wireless__info_big {
    font-size: 6.25em;
    padding-right: 0.25em;
  }

  .wireless__info_small {
    font-size: 6.25em;
    padding-top: 0;
  }

  .wireless__img_left {
    display: none;
  }

  .surface {
    padding-top: 2.91em;
    padding-bottom: 2.54em;
  }

  .surface__text_top {
    width: 30.83em;
  }

  .surface__advantages {
    margin-top: 2.08em;
    margin-bottom: 2.08em;
  }

  .surface__item {
    width: 12.5em;
    height: 7.08em;
    line-height: 1.17em;
  }

  .surface__text_bottom {
    margin-top: 0.916em;
    width: 30.83em;
  }
}