
@media (max-width: 1280px) {
  .wireless__text {
    width: 60%;
  }

  .surface__text_top {
    width: 60%;
  }

  .surface__text_bottom {
    width: 60%;
  }

  .devices__text {
    width: 75%;
  }
  
  .devices__list {
    width: 73%;
  }

  .settings__text {
    width: 75%;
  }

  .settings__apps {
    width: 60%;
  }
}

@media (max-width: 1152px) {
  .nav__item {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .nav__link {
    font-size: 0.5em;
  }

  .wireless__img_left {
    display: none;
  }

  .settings__icons {
    grid-gap: 1em;
    padding: 0 3em 1em 3em;
  }

  .comfort {
    padding-right: 5em;
  }
  
  .speed {
    padding-left: 5em;
  }
}

@media (max-width: 894px) {
  .header_desktop {
    display: none;
  }

  .header__main {
    display: flex;
    justify-content: center;
    background-color: var(--gray);
    padding-top: 2.25em;
  }

  .header__menu {
    background-color: var(--graphite);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.66em 5.375em 3.416em 5.375em;
  }

  .menu__open {
    border: none;
    background: none;
    width: 2.54em;
    height: 1.33em;
    position: absolute;
    top: 54px;
    right: 119px;
  }

  .menu__close {
    border: none;
    background: none;
    position: absolute;
    top: 64px;
    right: 64px;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.1em;
  }
  
  .nav__item {
    text-align: center;
    border-right: none;
    padding: 0 0 2.458em 0;
  }
  
  .nav__item:first-child {
    padding-left: 0;
  }
  
  .nav__item:last-child {
    border-right: none;
    padding-right: 0;
  }
  
  .nav__link {
    font-size: 1.6em;
    font-weight: 900;
    line-height: 1.175em;
    color: var(--dark-gray);
    padding-bottom: 1.475em;
  }
  
  .nav__link:hover {
    border-bottom: 4px var(--white) solid;
    padding-bottom: 0.15em;
  }

  .work {
    padding-top: 6.66em;
    padding-bottom: 3.33em;
  }

  .work__title {
    top: 7.15em;
  }

  .work__text {
    width: 60%;
    margin-top: 5.166em;
    margin-bottom: 3.166em;
  }

  .work__button {
    height: 1.208em;
    width: 2.375em;
  }

  .wireless {
    padding-top: 3.33em;
    padding-bottom: 0;
  }

  .wireless__icon {
    margin-bottom: 1.66em;
    width: 0.89em;
  }

  .wireless__text {
    width: 83%;
    margin-top: 1.25em;
    margin-bottom: 3.16em;
  }

  .wireless__info {
    line-height: 7.33em;
    margin-bottom: -3.208em;
    margin-left: 0;
  }

  .wireless__info_big {
    font-size: 6.25em;
    padding-right: 0.25em;
  }

  .wireless__info_small {
    font-size: 6.25em;
    padding-top: 0;
  }

  .wireless__img_left {
    display: none;
  }

  .surface {
    padding-top: 2.91em;
    padding-bottom: 2.54em;
  }

  .surface__text_top {
    width: 83%;
  }

  .surface__advantages {
    margin-top: 2.08em;
    margin-bottom: 2.08em;
  }

  .surface__item {
    width: 12.5em;
    height: 7.08em;
    line-height: 1.17em;
  }

  .surface__text_bottom {
    margin-top: 0.916em;
    width: 83%;
  }

  .devices {
    background-color: var(--light-gray);
    padding: 2.916em 2.7em 20.6em 2.7em;
    background-size: contain;
    background-position-y: bottom;
  }

  .devices__text {
    width: 100%;
  }

  .devices__list {
    font-size: 0.83em;
    width: 100%;
  }

  .devices__item:nth-child(2) {
    padding-left: 1.4em;
    padding-right: 0.75em;
    margin-left: 1.05em;
    margin-right: 1.1em;
  }

  .settings {
    padding-top: 2.92em;
    padding-bottom: 2.92em;
  }

  .settings__text {
    width: 85%;
    margin-top: 1.25em;
    margin-bottom: 2.25em;
  }

  .settings__img {
    display: none;
  }

  .settings__carousel {
    display: block;
  }

  .settings__apps {
    font-size: 0.83em;
    width: 38.25em;
  }

  .comfort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.92em 0 0 0;
  }
  
  .comfort__info {
    align-items: center;
    width: 31.75em;
    margin-left: 0;
  }

  #comfort__h2 {
    text-align: center;
  }
  
  #comfort__text {
    text-align: center;
    margin-top: 1.25em;
    margin-bottom: 2.08em;
  }

  .speed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.92em 0 0 0;
  }
  
  .speed__info {
    align-items: center;
    width: 31.75em;
    margin-right: 0;
  }
  
  #speed__h2 {
    text-align: center;
  }
  
  #speed__text {
    text-align: center;
    margin-top: 1.25em;
    margin-bottom: 2.08em;
  }
}