html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  color: var(--graphite);
}

.h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  line-height: 1.16em;
}

.text {
  font-weight: 400;
  text-align: center;
  line-height: 23.44px;
}